[Unit]
Description=Algorand node update (daily schedule)
Requires=algorand-update.service

[Timer]
Unit=algorand-update.service
OnCalendar=*-*-* 5:30:00
Persistent=true

[Install]
WantedBy=timers.target