<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.algorand.daemon</string>

    <key>ProgramArguments</key>
    <array>
      <string>{{ node_directory }}algod</string>
      <string>-d</string>
      <string>{{ node_data_directory }}</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{ node_directory }}</string>

    <key>UserName</key>
    <string>{{ admin_user }}</string>

    <key>GroupName</key>
    <string>{{ admin_user_group }}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
      <key>NetworkState</key>
      <true/>
    </dict>
  </dict>
</plist>